
.gray1{
  background:#f1f1f1;
}
.services-box-icon img{
	width:60px;
	height:60px;
}
.colored-boxed.green i {
    color: #4a6791;
    border-color: #4a6791;
    font-weight:bold;
}
.s_no_icon{
  display:inline-block;
border:none !important;
border-radius:0 !important;
    background:url(../../img/img_1.png) no-repeat;
  background-size:270px;
}
.s_no_icon_1{
  background-position:-135px 0;
}
.s_no_icon_2{
  background-position:-205px 0;
}
.s_no_icon_3{
  background-position:0 0;
}
.s_no_icon_4{
  background-position:-65px 0;
}
/**/
.s_active_icon{
  width:50px;
  height:40px;
  background:url(../../img/img4.png) no-repeat;
  background-size:150px;
}
.s_active_icon_1{
  background-position:-100px 0;
}
.s_active_icon_2{
  background-position:-50px 0;
}
.s_active_icon_3{
  background-position:0 0;
}
/**/
.s_item_box .services-box-icon{
  width:20px;
  margin-right:10px;
}
.s_item_box .services-box-info{
  padding-left:0;
}
.s_ball{
  width:20px;
  height:20px;
  border-radius:50%;
  display:block;
}

.ball_b{
  background:#2ac4dc;
}
.ball_o{
  background:#fa6f48;
}
.ball_g{
  background:#a362d0;
}
/******* EIGHT (Secondary action) *******/
.shape {
	color:#fff;
	text-align:center;
	line-height:10rem;
	font-size:2.5rem;
  width: 10rem;
  height: 10rem;
  border-radius:50%;
  position: absolute;
  top: calc(50% - 5rem);
  left: calc(50% - 5rem);
}
.eight .shape.a {
	background: -webkit-radial-gradient(#fff, #0170c0); 
background: -o-radial-gradient(red, green, blue, purple, orange); 
background: -moz-radial-gradient(red, green, blue, purple, orange); 
background: radial-gradient(#b4b4b4, #0170c0,#034d86); 
  transform: translateX(-6rem);
  animation: eight-shape-a 4s cubic-bezier(.57,-0.5,.43,1.53) infinite;
}
.eight .shape.b {
	background: radial-gradient(#f88638,#d56011,#c55a11); 
  top: calc(50% + 4rem);
  opacity: 0;
  animation: eight-shape-b 4s linear infinite;
}
.eight .shape.c {
	background: radial-gradient(#adf562,#84be48,#548235); 
  transform: translateX(6rem);
  animation: eight-shape-c 4s cubic-bezier(.57,-0.5,.43,1.53) infinite;
}

@keyframes eight-shape-a {
  0%, 50% {
    transform: translateX(-8rem);
  }
  70%, 100% {
    transform: translateX(-13rem);
  }
}

@keyframes eight-shape-b {
  0% {
    transform: none;
  }
  20%, 30% {
    transform: translateY(-1.5rem);
    opacity: 1;
    animation-timing-function: cubic-bezier(.57,-0.5,.43,1.53);
  }
  32% {
    transform: translateY(-1.25rem);
    opacity: 1;
  }
  34% {
    transform: translateY(-1.75rem);
    opacity: 1;
  }
  36%, 38% {
    transform: translateY(-1.25rem);
    opacity: 1;
  }
  42%, 60% {
    transform: translateY(-1.5rem);
    opacity: 1;
  }
  75%, 100% {
    transform: translateY(-9rem);
    opacity: 1;
  }
}

@keyframes eight-shape-c {
  0%, 50% {
    transform: translateX(8rem);
  }
  70%, 100% {
    transform: translateX(13rem);
  }
}
